<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @complaint.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @complaint.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @complaint.phone %>
</p>

<p>
  <strong>Order number:</strong>
  <%= @complaint.order_number %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @complaint.zip_code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @complaint.description %>
</p>

<%= link_to 'Edit', edit_complaint_path(@complaint) %> |
<%= link_to 'Back', complaints_path %>
